/**
 * This Stylus file will be compiled to todos.css automatically by node when
 * the server is started and a todos.css file doesn't exist.  To regenerate
 * todos.css, simply delete the file and reload the app in a browser window.
 *
 * To see how the css file is generated look at app.js.
 */
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.4em;
  background: #eee;
  color: #333;
  margin: 0 auto;
  overflow: auto;
}
.form-container {
  width: 530px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ddd;
}
.form-horizontal .form-actions {
  background-color: #fff;
  margin-right: 40px;
  padding-left: 150px;
}
.navbar .brand {
  font-weight: bold;
}
.list {
  background: #fff;
  padding: 5px 20px 20px 20px;
  width: 330px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 10px;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
  -moz-box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
  -ms-box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
  -o-box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
  box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
  float: left;
}
.list h1 {
  font-size: 15px;
  font-weight: bold;
  line-height: 15px;
  border-bottom: 1px solid #ddd;
  padding: 5px;
}
.list input[type="text"] {
  width: 290px;
  font-size: 14px;
  height: 20px;
  border: 1px solid #7e8694;
}
.list .add-on {
  border: 1px solid #7e8694;
input-webkit-input-placeholder
  font-style: italic;
}
.list footer {
  margin: 0 -20px -20px -20px;
  overflow: hidden;
  color: #fff;
  background: #6984a2;
  border-top: 1px solid #687fa2;
  padding: 0 20px;
  line-height: 37px;
  -webkit-border-radius: 0 0 5px 5px;
  -moz-border-radius: 0 0 5px 5px;
  -ms-border-radius: 0 0 5px 5px;
  -o-border-radius: 0 0 5px 5px;
  border-radius: 0 0 5px 5px;
}
.main {
  display: block;
}
.main label {
  display: inline;
}
.list-cards {
  margin: 10px 0;
  padding: 0;
  list-style: none;
}
.list-cards li {
  background-color: #fff;
  border: 1px solid #758894;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 10px 20px 10px 0;
  position: relative;
  font-size: 24px;
  margin-bottom: 5px;
  padding: 6px 8px 10px;
}
.list-cards li:hover {
  border-color: #1f6993;
  -webkit-box-shadow: 0 8px 12px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.2);
  -webkit-box-shadow: 0 8px 12px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 8px 12px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.2);
  -ms-box-shadow: 0 8px 12px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.2);
  -o-box-shadow: 0 8px 12px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 8px 12px rgba(0,0,0,0.2), 0 1px 1px rgba(0,0,0,0.2);
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.list-cards li label {
  font-size: 14px;
}
.list-cards li.done label {
  color: #777;
  text-decoration: line-through;
}
.list-cards li .card-operation {
  position: absolute;
  right: 5px;
  top: 5px;
  display: none;
  cursor: pointer;
}
.list-cards li:hover .card-operation {
  display: block;
}
.list-cards li.locked {
  color: #aaa;
}
.list-cards li.locked:hover .card-operation {
  display: none;
}
.list-cards li.editing {
  border-bottom: none;
  margin-top: -1px;
  padding: 0;
}
.list-cards li.editing .view {
  display: none;
}
.list-cards li.editing .edit {
  display: block;
  width: 444px;
  padding: 13px 15px 14px 20px;
  margin: 0;
}
.list-cards li.editing:last-child {
  margin-bottom: -1px;
}
.list-cards li .view label {
  word-break: break-word;
}
.list-cards li .edit {
  display: none;
}
#clear-completed {
  float: right;
  line-height: 20px;
  text-decoration: none;
  background: rgba(0,0,0,0.1);
  color: #555;
  font-size: 11px;
  margin-top: 8px;
  margin-bottom: 8px;
  padding: 0 10px 1px;
  cursor: pointer;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 -1px 0 0;
  -moz-box-shadow: rgba(0,0,0,0.2) 0 -1px 0 0;
  -ms-box-shadow: rgba(0,0,0,0.2) 0 -1px 0 0;
  -o-box-shadow: rgba(0,0,0,0.2) 0 -1px 0 0;
  box-shadow: rgba(0,0,0,0.2) 0 -1px 0 0;
}
#clear-completed:hover {
  background: rgba(0,0,0,0.15);
  -webkit-box-shadow: rgba(0,0,0,0.3) 0 -1px 0 0;
  -moz-box-shadow: rgba(0,0,0,0.3) 0 -1px 0 0;
  -ms-box-shadow: rgba(0,0,0,0.3) 0 -1px 0 0;
  -o-box-shadow: rgba(0,0,0,0.3) 0 -1px 0 0;
  box-shadow: rgba(0,0,0,0.3) 0 -1px 0 0;
}
#clear-completed:active {
  position: relative;
  top: 1px;
}
.count span {
  font-weight: bold;
}
#credits {
  margin: 30px auto;
  color: #999;
  text-shadow: rgba(255,255,255,0.8) 0 1px 0;
  text-align: center;
}
#credits a {
  color: #888;
}
#login-info {
  background-color: transparent;
  padding-top: 5px;
  position: relative;
}
.open-card-composer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  color: #939393;
  display: block;
  margin: 2px -3px -3px;
  padding: 7px 10px;
  position: relative;
  text-decoration: none;
}
.open-card-composer:hover {
  background: #c3c3c3;
  color: #222;
  text-decoration: underline;
}
.open-card-composer::selection {
  background: transparent;
}
.list-card {
  background-color: #fff;
  border: 1px solid #b9b9b9;
  cursor: pointer;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
}
#board-create-form button {
  margin-left: 10px;
  margin-bottom: 10px;
}
.board-list-module {
  width: 700px;
  margin: 10px auto;
  padding: 5px 10px 5px 10px;
}
.board-list-module-title span {
  float: left;
  margin-right: 20px;
}
.board-list {
  list-style: none;
  cursor: pointer;
  margin-bottom: 100px;
}
.board-list>li {
  width: 440px;
  padding: 5px 0px;
  border-bottom: 1px solid #aaa;
  position: relative;
}
.board-list>li>a {
  color: #abc;
  text-decoration: none;
  font-size: 18px;
  padding: 5px 430px 5px 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  display: block;
  position: relative;
}
.board-list li:hover>a {
  background: #abc;
  color: #fff;
}
.board-list li:hover .board-operation {
  visibility: visible;
}
.board-operation {
  position: relative;
  background-clip: content-box;
  background-origin: content-box;
  -webkit-background-clip: content;
  -webkit-background-origin: content;
  visibility: hidden;
  margin: 0;
  padding: 6px 8px;
  opacity: 1;
  display: block;
}
.board-operation-items {
  position: absolute;
  top: 3px;
  right: 0px;
}
.board-operation-items li:first-child {
  width: 300px;
  list-style: none;
  border-bottom: 0px;
}
.board-operation-items li {
  width: 300px;
  list-style: none;
  border-bottom: 1px solid #aaa;
}
.board-operation-items li a {
  padding: 6px;
  font-size: 16px;
}
.addMember {
  margin-left: 10px;
  margin-top: -12px;
}
.header-user {
  position: absolute;
  top: 5px;
  right: 5px;
}
.header-auth.member {
  margin-top: -1px;
  border-color: #999;
}
.header-auth.member:hover {
  border-color: #ccc;
}
.member {
  background-color: #ccc;
  border: 1px solid #b9b9b9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  color: #444;
  display: block;
  float: left;
  height: 30px;
  margin: 0 1px 1px 0;
  overflow: hidden;
  position: relative;
  width: 30px;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 0;
  text-decoration: none;
}
.member.no-menu {
  cursor: default;
}
.window-sidebar {
  float: right;
  padding: 6px 12px 12px 0;
  width: 170px;
  overflow: hidden;
}
.window-main-col {
  float: left;
  overflow-x: hidden;
  overflow-y: auto;
  margin: 0;
  min-height: 20px;
  padding: 6px 12px 12px;
  width: 472px;
}
.profile-member {
  background-color: #ccc;
  border: 1px solid #b9b9b9;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  cursor: default;
  display: block;
  height: 170px;
  margin: 0 0 8px 0;
  overflow: hidden;
  position: relative;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-decoration: none;
  z-index: 0;
  width: 170px;
}
.profile-member .profile-member-avatar {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  height: 170px;
  left: 0;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  width: 170px;
  z-index: 2;
}
.notify {
  position: absolute;
  right: 5px;
  z-index: 2;
}
.board-operation-items .dropdown-menu {
  right: 0;
  left: auto;
}
.board-operation-items .dropdown-menu li:first-child {
  text-align: center;
  font-size: 18px;
  color: #aaa;
}
.board-operation-items .dropdown-menu li:last-child {
  border-bottom: 0px;
}
.board-operation-items .dropdown-menu::before {
  right: 12px;
  left: auto;
}
.board-operation-items .dropdown-menu::after {
  right: 13px;
  left: auto;
}
.card-header {
  position: relative;
  padding: 5px;
  min-height: 60px;
}
.card-header span {
  font-size: 16px;
  font-weight: bold;
  padding-right: 190px;
  border-bottom: 1px solid #bbb;
  padding-bottom: 5px;
}
.card-header img {
  float: right;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #b9b9b9;
}
.card-header .dropdown {
  margin-top: -20px;
}
.card-header .main-menu {
  right: 0;
  left: auto;
  position: absolute;
  top: 50px;
}
.card-header .main-menu::before {
  right: 12px;
  left: auto;
}
.card-header .main-menu::after {
  right: 13px;
  left: auto;
}
.list-card a {
  text-decoration: none;
  font-size: 16px;
  color: #000;
  padding-right: 200px;
  word-wrap: break-word;
  width: 300px;
}
.list-card span {
  font-size: 16px;
  word-wrap: break-word;
  width: 300px;
}
.card-detail-main-col {
  min-height: 400px;
  padding: 20px;
  float: left;
  border-right: 1px solid #aaa;
  width: 60%;
  max-height: 600px;
  overflow-y: scroll;
}
.card-detail-title {
  font-size: 25px;
  margin-bottom: 30px;
  font-weight: bold;
}
.card-detail-comment button {
  position: absolute;
  display: inline;
  margin-left: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  top: 5px;
}
.card-detail-comment {
  position: relative;
}
.card-detail-sidebar {
  padding: 20px;
  float: right;
  width: 28%;
}
.sidebar-title {
  font-size: 20px;
}
.sidebar-title {
  font-size: 20px;
}
.card-detail-modal {
  position: absolute;
  padding: 10px;
  width: 700px;
  background-color: #eee;
  overflow: scroll;
}
.delete-box input {
  display: block;
  width: 170px;
  margin-bottom: 5px;
}
.delete-box button {
  font-size: 15px;
  padding-left: 40px;
  padding-right: 40px;
}
.card-detail-comment-list,
.msg-list {
  list-style: none;
  padding: 5px;
  margin: auto;
}
.msg-list {
  position: relative;
}
.card-detail-comment-list >li,
.msg-list >li {
  padding: 6px;
  border-bottom: 1px solid #bbb;
}
.card-detail-comment-list a,
.msg-list a {
  cursor: pointer;
}
.card-detail-comment-userinfo,
.msg-item-userinfo {
  position: relative;
}
.card-detail-comment-userinfo a,
.msg-item-userinfo a {
  color: #000;
  margin-left: 10px;
  position: absolute;
  font-weight: bold;
  top: 0px;
}
.card-detail-comment-list img,
.msg-list img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #b9b9b9;
}
.card-detail-comment-detail,
.msg-detail {
  padding: 5px;
  background-color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #b9b9b9;
  margin-left: 60px;
  cursor: pointer;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
  -moz-box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
  -ms-box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
  -o-box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
  -webkit-box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
  -moz-box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
  -ms-box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
  -o-box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
  box-shadow: rgba(0,0,0,0.2) 0 2px 6px 0;
  margin-bottom: 10px;
}
.card-detail-comment-detail {
  word-wrap: break-word;
}
.card-detail-comment-foot-operation {
  float: right;
}
.msg-foot-operation {
  position: absolute;
  right: 10px;
  bottom: 10px;
}
.card-detail-comment-foot-operation a {
  margin-right: 3px;
}
.sidebar-members-list img {
  margin-left: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #b9b9b9;
}
.sidebar-members-title,
.sidebar-actions-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}
.sidebar-members,
.sidebar-actions {
  margin-bottom: 30px;
}
.sidebar-actions-delete a {
  cursor: pointer;
}
.card-detail-comment-newreply-input {
  margin-left: 6px;
  width: 80%;
  height: auto;
  margin-bottom: 0px;
  display: inline-block;
  vertical-align: middle;
}
.card-detail-comment-newreply button {
  height: auto;
  margin-bottom: 0px;
}
.card-detail-comment-newreply {
  margin-left: 20px;
  margin-top: 5px;
}
.card-detail-comment-search {
  background-color: #fff;
  position: absolute;
  list-style: none;
  padding: 10px;
  border: 1px solid #aaa;
  margin: 0px;
  z-index: 1000;
  width: 300px;
}
.card-detail-comment-search li {
  border-bottom: 1px solid #bbb;
  margin-bottom: 5px;
  cursor: pointer;
}
.card-detail-comment-search li:last-child {
  border-bottom: 0px;
  margin-bottom: 5px;
  cursor: pointer;
}
.card-detail-comment-search li:hover {
  color: #fff;
  background-color: #abc;
}
.card-detail-comment-search li img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #b9b9b9;
}
.card-detail-comment-search li span {
  margin-left: 10px;
  font-weight: bold;
}
.card-detail-comment-detail >span {
  margin-right: 5px;
}
.card-detail-comment-newreply-input .token-input-list-facebook {
  width: 90%;
}
.card-detail-desc {
  margin-bottom: 20px;
}
.card-detail-desc a {
  color: #000;
  font-size: 20px;
  cursor: pointer;
}
.card-detail-desc button {
  margin-right: 55px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 18px;
  display: block;
  float: right;
}
.card-detail-desc textarea {
  min-height: 100px;
  min-width: 350px;
}
.card-detail-desc-title {
  font-size: 18px;
  font-weight: bold;
}
.card-detail-desc-title p {
  margin-bottom: 3px;
}
.card-detail-comment-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.card-detail-comment-title p {
  margin-bottom: 3px;
}
.card-detail-desc a {
  color: #000;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}
.dropbox-chooser {
  width: 152px;
  height: 25px;
  cursor: pointer;
  background-image: url("https://www.dropbox.com/static/images/widgets/chooser-button-sprites.png");
}
.sidebar-actions a {
  color: #000;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 10px;
  display: block;
}
.card-detail-attach-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}
.card-detail-attach-item-operation {
  float: right;
}
.board-list-module-title {
  position: relative;
}
.board-list-module-title a {
  position: absolute;
  left: 150px;
  top: 8px;
  color: #808080;
  cursor: pointer;
  text-decoration: underline;
  font-size: 18px;
}
.card-detail-attach {
  margin-bottom: 20px;
  padding: 5px;
  position: relative;
}
.card-detail-attach-item-operation {
  text-decoration: underline;
}
.card-detail-attach div {
  float: right;
}
.sidebar-action-attach div {
  margin-top: 0px;
  margin-left: 10px;
  margin-bottom: 3px;
}
.card-list-search-user {
  margin-left: 20px;
}
.card-detail-desc p {
  margin-left: 10px;
  margin-top: 10px;
}
.msg-container.ng-scope {
  width: 750px;
  margin: 0px auto;
}
