/**
 * This Stylus file will be compiled to todos.css automatically by node when
 * the server is started and a todos.css file doesn't exist.  To regenerate
 * todos.css, simply delete the file and reload the app in a browser window.
 *
 * To see how the css file is generated look at app.js.
 */

@import "_mixins.styl";

// ----------------------------------------------------------------------------
// Styles
// ----------------------------------------------------------------------------

html, body
  margin 0
  padding 0

body
  font 14px "Helvetica Neue", Helvetica, Arial, sans-serif
  line-height 1.4em
  background #eeeeee
  color #333333
  // width 420px
  margin 0 auto
  // -webkit-font-smoothing antialiased

.form-container
  width 530px
  margin 0 auto
  background-color white
  padding 20px
.form-horizontal
  .form-actions
    background-color white
    margin-right 40px
    padding-left 150px
.navbar .brand
  font-weight bold
.todoapp
  background rgb(190, 180, 180)
  padding 5px 20px 20px 20px
  width 330px
  margin-bottom 20px
  margin-right 20px
  box-shadow rgba(0, 0, 0, 0.2) 0 2px 6px 0
  border-radius 0 0 5px 5px
  float left

  h1
    font-size 15px
    font-weight bold
    line-height 15px

  input[type="text"]
    width 290px
    font-size 14px
    height 20px
    // font-family inherit
    // line-height 1.4em
    // border 0
    // outline none
    // padding 5px
    // box-shadow rgba(0, 0, 0, 0.2) 0 1px 2px 0 inset
    border 1px solid rgb(126, 134, 148)
  
  .add-on
    border 1px solid rgb(126, 134, 148)
  input-webkit-input-placeholder
    font-style italic

  footer
    display none
    margin 0 -20px -20px -20px
    overflow hidden
    color white
    background rgb(105, 132, 162)
    border-top 1px solid rgb(104, 127, 162)
    padding 0 20px
    line-height 37px
    border-radius 0 0 5px 5px


.main
  display none
  label
    display inline
.todo-list
  margin 10px 0
  padding 0
  list-style none

  li
    background-color #fff
    border 1px solid rgb(117, 136, 148)
    cursor pointer
    border-radius 3px
    padding 10px 20px 10px 0
    position relative
    font-size 24px
    // border-bottom 1px solid #cccccc
    margin-bottom 5px
    padding 6px 8px 10px

    &:hover
      border-color:#1f6993
      -webkit-box-shadow 0 8px 12px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2)
      box-shadow 0 8px 12px rgba(0, 0, 0, 0.2), 0 1px 1px rgba(0, 0, 0, 0.2)
      -webkit-transform:rotate(0);transform:rotate(0)

    label
      font-size 14px
      // line-height 1.4em

.todo-list
  li
    &:last-child
      // border-bottom none

    &.done
      label
        color #777777
        text-decoration line-through

    .destroy
      position absolute
      right 5px
      top 10px
      display none
      cursor pointer
      width 20px
      height 20px
      background url(/images/destroy.png) no-repeat

      &:hover
        background-position 0 -20px

    &:hover
      .destroy
        display block

    &.locked
      color #AAAAAA
      &:hover
        .destroy
          display none

    &.editing
      border-bottom none
      margin-top -1px
      padding 0

      .view
        display none

      .edit
        display block
        width 444px
        padding 13px 15px 14px 20px
        margin 0

      &:last-child
        margin-bottom -1px

    .view
      label
        word-break break-word

    .edit
      display none

#clear-completed
  float right
  line-height 20px
  text-decoration none
  background rgba(0, 0, 0, 0.1)
  color #555555
  font-size 11px
  margin-top 8px
  margin-bottom 8px
  padding 0 10px 1px
  cursor pointer
  border-radius 12px
  box-shadow rgba(0, 0, 0, 0.2) 0 -1px 0 0

  &:hover
    background rgba(0, 0, 0, 0.15)
    box-shadow rgba(0, 0, 0, 0.3) 0 -1px 0 0

  &:active
    position relative
    top 1px

#todo-count
  span
    font-weight bold

#instructions
  margin 10px auto
  color #777777
  text-shadow rgba(255, 255, 255, 0.8) 0 1px 0
  text-align center

  a
    color #336699

#credits
  margin 30px auto
  color #999
  text-shadow rgba(255, 255, 255, 0.8) 0 1px 0
  text-align center

  a
    color #888


#login-info
    float: right
    color: white
    margin-top: 10px


.open-card-composer
  border-top-left-radius 0
  border-top-right-radius 0
  border-bottom-right-radius 3px
  border-bottom-left-radius 3px
  color #939393
  display block 
  margin 2px -3px -3px
  padding 7px 10px
  position relative
  text-decoration:none
  &:hover 
    background #c3c3c3 
    color #222
    text-decoration underline
  &::selection
    background transparent

.list-card
  background-color #fff
  border 1px solid #b9b9b9
  cursor pointer
  border-radius 3px
